<div id="lightbox" class="lightbox" onclick="closeLightbox(event)">
  <span class="close" onclick="closeLightbox(event)">✕</span>
  <img id="lightbox-img" alt="" />
</div>

<div id="fb-cookie-modal" class="modal-backdrop">
  <div class="modal">
    <div id="fb-stale-pill" class="stale-warn"></div>
    <h3 id="fb-modal-title">Facebook cookies</h3>
    <p id="fb-modal-sub" class="sub"></p>
    <div id="fb-modal-log" class="log" style="display:none"></div>
    <div class="actions" id="fb-modal-actions"></div>
  </div>
</div>
